@theme inline {
  --color-tremor-brand-faint: #eff6ff;
  --color-tremor-brand-muted: #bfdbfe;
  --color-tremor-brand-subtle: #60a5fa;
  --color-tremor-brand: #3b82f6;
  --color-tremor-brand-emphasis: #1d4ed8;
  --color-tremor-brand-inverted: #ffffff;

  --color-tremor-background-muted: #f9fafb;
  --color-tremor-background-subtle: #f3f4f6;
  --color-tremor-background: #ffffff;
  --color-tremor-background-emphasis: #374151;

  --color-tremor-border: #e5e7eb;
  --color-tremor-ring: #e5e7eb;

  --color-tremor-content-subtle: #9ca3af;
  --color-tremor-content: #6b7280;
  --color-tremor-content-emphasis: #374151;
  --color-tremor-content-strong: #111827;
  --color-tremor-content-inverted: #ffffff;

  --color-dark-tremor-brand-faint: #0b1229;
  --color-dark-tremor-brand-muted: #172554;
  --color-dark-tremor-brand-subtle: #1d4ed8;
  --color-dark-tremor-brand: #3b82f6;
  --color-dark-tremor-brand-emphasis: #60a5fa;
  --color-dark-tremor-brand-inverted: #172554;

  --color-dark-tremor-background-muted: #131a2b;
  --color-dark-tremor-background-subtle: #1f2937;
  --color-dark-tremor-background: #111827;
  --color-dark-tremor-background-emphasis: #d1d5db;

  --color-dark-tremor-border: #1f2937;
  --color-dark-tremor-ring: #1f2937;

  --color-dark-tremor-content-subtle: #4b5563;
  --color-dark-tremor-content: #6b7280;
  --color-dark-tremor-content-emphasis: #e5e7eb;
  --color-dark-tremor-content-strong: #f9fafb;
  --color-dark-tremor-content-inverted: #030712;

  --radius-tremor-small: 0.375rem;
  --radius-tremor-default: 0.5rem;
  --radius-tremor-full: 9999px;

  --shadow-tremor-input: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-tremor-card: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-tremor-dropdown: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --shadow-dark-tremor-input: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-dark-tremor-card: 0 1px 3px 0 rgb(0 0 0 / 0.4), 0 1px 2px -1px rgb(0 0 0 / 0.4);
  --shadow-dark-tremor-dropdown: 0 10px 15px -3px rgb(0 0 0 / 0.4), 0 4px 6px -4px rgb(0 0 0 / 0.4);

  --text-tremor-label: 0.75rem;
  --text-tremor-label--line-height: 1rem;
  --text-tremor-default: 0.875rem;
  --text-tremor-default--line-height: 1.25rem;
  --text-tremor-title: 1.125rem;
  --text-tremor-title--line-height: 1.75rem;
  --text-tremor-metric: 1.875rem;
  --text-tremor-metric--line-height: 2.25rem;
}
